body{
    background-color:lightslategray;
    ;
}

img{
    
    max-width: 100%;
width: 130px;}

#adres{

    text-align: right;
}

.link{
    font-style: italic;
    color:white;
    border-bottom-color:black;
         font-size: 20px;
         font:oblique;
}
.titulomain{
background-color:midnightblue;
    text-align: center;
    font-size: 70px;
        color:mistyrose;
        
}
.titles{
font-style: oblique;
font-variant: small-caps;
    font-size: 40px;
}

.image1{

    margin: 7%;
width: 65px;
height: 65px;



bottom: 10px;
overflow:hidden;
}

.image1 img {
    text-align: ;
    width: 100%;
    height: auto;
    display: block;
    }