@font-face {
    font-family: "nana";
    src: url("../assets/MonsieurLaDoulaise-Regular.ttf");
}


body{
    background-color:rgb(204, 189, 172);
    ;
}

img{
    
    max-width: 100%;
    min-width: 20%;
    width: 130px;}

#adres{

    text-align: right;
}

.navigator{

    background-color: rgb(12, 192, 12);
    max-width: 100%;
    min-width: 100%;
}

table, th, td {
border: 2px black solid;
border-collapse: collapse;
}

th, td {

    padding: 8px;
}

th{

    text-align: left;
}
.caja{
    background-color: yellowgreen;
    
    width: 100px;
    height: 100px;
    box-shadow:  12px 21px rgb(0 0 0 / 0.5) ;
    

}
.link{

    display: inline-block;
    width: 100px;
    height: 125px;
    overflow: auto;
    text-align: center;
    border-radius: 30px;
    
    font-style:oblique;
    color:white;
    border-bottom-color:black;
         font-size: 20px;
         font:oblique;
         font-weight: 400;
         margin-right: 5mm;
         margin-left: 5mm;
        
}
.titulomain{

    /* overflow:hidden;*/
/* padding-top: 0.1px; */
/*border-top: 0.1px solid lightcoral;*/

    background-color: rgb(25, 175, 25);
margin-left: 20px;
margin-right: 20px;
border-radius: 200px;
    text-align: center;
    font-size: 70px;
        color:mistyrose;

        
}
.titles{
    
font-style: oblique;
font-variant: small-caps;
    font-size: 50px;
    font-weight: 900;
    border-radius: 200px;
}

.cursi{
font-size: 38px;
    font-family: "nana" ;
}
.titles2{
   
    font-style:italic;
    width: 270px;
    margin-top: 10px;
    height: 25px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right:  670px;
    color:white;
    background-color: rgb(124, 13, 13);
    }
    
    .titles3{
        background-color: rebeccapurple;
        color: aquamarine;
        padding: 16px 32px;
        border-radius: 8px;
        font-size: 3rem;

    }
   
    .tenologgo{

        pos
    }