body{
    background-color:lightslategray;
    ;
}

img{
    
    max-width: 100%;
width: 130px;}

#adres{

    text-align: right;
}

.link{
    font-style: italic;
    color:white;
    border-bottom-color:black;
         font-size: 20px;
         font:oblique;
         font-weight: 400;
}
.titulomain{
background-color:midnightblue;
    text-align: center;
    font-size: 70px;
        color:mistyrose;
        
}
.titles{
    
font-style: oblique;
font-variant: small-caps;
    font-size: 50px;
    font-weight: 900;
}

.titles2{
    font-style:italic;
    font-size: 10mm;

    font-weight: 300;
    color:white;
    font:caption;
    background-color: rgb(124, 13, 13);
    }
    
   